<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    body{background-color:magenta;}

    input[type="number"],[type="text"]{height:30px;width:250px;margin:20px;}
  </style>
</head>
<body>
<br><a href="/staffPage"><button><--Go Back</button></a><br><br>
<form th:action="@{/addMarks}" th:object="${marks}" method="post">
  <center>
      Roll No<input type="text" th:field="*{rollno}" required /><br><br>
      <div th:if="${subject == 'Tamil'}"> Tamil <input type="number" th:field="*{tamil}" required /></div>
      <div th:if="${subject == 'English'}">English<input type="number" th:field="*{english}" required /></div>
      <div th:if="${subject == 'Organic'}">Organic<input type="number" th:field="*{organic}" required /></div>
        <div th:if="${subject == 'Inorganic'}">Inorganic<input type="number" th:field="*{inorganic}" required/></div>
          <div th:if="${subject == 'Physical'}">Physical<input type="number" th:field="*{physical}" required /></div>

    <br><br>
    <button>Submit</button>
  </center>
</form>

</body>
</html>