<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Password</title>
  <style>
    body{background-color:magenta;font-size:25px;}
    input[type="text"]{width:250px;height:40px;font-size:25px;}
  </style>
</head>
<body>
<br> <a href="/login"><button><--Go Back</button></a><br><br>
<center>
<form action="/newPassword" method="post">
  <input name="rollno" th:value="${rollno}" type="hidden"/>
  <br><br><br> <br>
  New Password :<input type="text" name="pass" required/> <br><br><br>
  <button>Change</button>
</form>
</center>
</body>
</html>